<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bookshop{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('build/assets/app.css') }}">
</head>
<body class="bg-gray-100 text-gray-900">
  {% block body %}{% endblock %}
  <script type="module" src="{{ asset('build/assets/app.js') }}"></script>
</body>
</html>
